@media (min-width: 1200px) {
.container{
    width: 75%;
}


}
html,body{
  height:100vh;
}

* {
  box-sizing: border-box;
}


.no-margin {
    margin:0px 0 !important;
/*    line-height:0.7;*/
border:1px solid black;
}


ul.menu {
 list-style:none;
 padding:0;
 margin:0 auto;
}

ul.menu li {
 display:inline-block;
}

ul.menu1 {
 color:#fff;
}

ul.navbar {
  padding:0;
  margin-top:0;
  list-style-type:none;
  line-height:1.8;
}

.pl-0 {
  padding-left:0;
}

.pr-0 {
  padding-right:0;
}

.fill-width {
  flex:1;
}

.flex {
  display:flex;
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
}



.collapsible {
/*  background-color: #777;*/
/*  color: white;*/
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
/*  font-size: 15px;*/
}

.content {
/*margin:-.5em;*/
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #e1e1e1;
}


.tcont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.2em;
}


.ctr {
   text-align:center;

}

.t-c0-p2 {
border-spacing:2px;
}

.t-c0-p2 th,td {
  padding:0px;
}