A:unknown {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A:active {
    COLOR: #0073BF;
    TEXT-DECORATION: none
}

A:link {
    COLOR: #0073BF;
    TEXT-DECORATION: underline
}

A:visited {
    COLOR: #0073BF;
    TEXT-DECORATION: underline
}

A:hover {
    COLOR: #0073BF;
    TEXT-DECORATION: underline
}

A.product {
    COLOR: #004D80;
    TEXT-DECORATION: none;
    font-size: 11px;
}

A.product:link {
    COLOR: #004D80;
    TEXT-DECORATION: none;
    font-size: 11px;
}

A.product:visited {
    COLOR: #004D80;
    TEXT-DECORATION: none;
    font-size: 11px;
}

A.product:hover {
    COLOR: #004D80;
    TEXT-DECORATION: underline;
    font-size: 11px;
}

A.toggle {
    COLOR: #0073BF;
    TEXT-DECORATION: none
}

A.toggle:link {
    COLOR: #0073BF;
    TEXT-DECORATION: none
}

A.toggle:visited {
    d COLOR: #0073BF;
    TEXT-DECORATION: none
}

A.toggle:hover {
    COLOR: #0073BF;
    TEXT-DECORATION: underline
}

A.globalLinkBar {
    COLOR: #004D80;
    TEXT-DECORATION: none;
    font-size: 11px;
}

A.globalLinkBar:link {
    COLOR: #004D80;
    TEXT-DECORATION: none;
    font-size: 11px;
}

A.globalLinkBar:visited {
    COLOR: #004D80;
    TEXT-DECORATION: none;
    font-size: 11px;
}

A.globalLinkBar:hover {
    COLOR: #004D80;
    TEXT-DECORATION: underline;
    font-size: 11px;
}

A.globalLink {
    TEXT-DECORATION: none
}

A.globalLink:link {
    TEXT-DECORATION: none
}

A.globalLink:visited {
    TEXT-DECORATION: none
}

A.globalLink:hover {
    TEXT-DECORATION: underline
}

A.Topmenu1 {
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

A.Topmenu1:link {
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

A.Topmenu1:active {
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

A.Topmenu1:visited {
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

A.Topmenu1:hover {
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

A.Topmenu2 {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Topmenu2:link {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Topmenu2:active {
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

A.Topmenu2:hover {
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

A.Topmenu2:visited {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.tableNavLinkedPageNo {
    COLOR: #0073BF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: none
}

A.tableNavLinkedPageNo:link {
    COLOR: #0073BF
}

A.tableNavLinkedPageNo:visited {
    COLOR: #0073BF
}

A.tableNavLinkedPageNo:active {
    COLOR: #0073BF
}

A.tableNavLinkedPageNo:hover {
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

A.Navbar1Selected {
    color: #0073BF;
    TEXT-DECORATION: none
}

A.Navbar1Selected:visited {
    color: #0073BF;
    TEXT-DECORATION: none
}

A.Navbar1Selected:active {
    color: #0073BF;
    TEXT-DECORATION: none
}

A.Navbar1Hover {
    COLOR: #000000;
    TEXT-DECORATION: underline
}

A.Navbar0 {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar0:active {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar0:hover {
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

A.Navbar0:link {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar0:visited {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar1 {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar1:active {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar1:hover {
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

A.Navbar1:link {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar1:visited {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar2 {
    COLOR: #000000;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}

A.Navbar2:active {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar2:hover {
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

A.Navbar2:link {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar2:visited {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar3 {
    COLOR: #000000;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}

A.Navbar3:active {
    COLOR: #000000;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}

A.Navbar3:hover {
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

A.Navbar3:link {
    COLOR: #000000;
    TEXT-DECORATION: none
}

A.Navbar3:visited {
    COLOR: #000000;
    TEXT-DECORATION: none
}

INPUT.Navbar0 {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Navbar0Disabled {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Navbar1 {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Navbar1Disabled {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Navbar2 {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Navbar2Disabled {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Navbar3 {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Navbar3Disabled {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Topmenu1 {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Topmenu1Disabled {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Topmenu2 {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

INPUT.Topmenu2Disabled {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

BODY {
    BACKGROUND-COLOR: #BDE4FF;
}

BODY.title {
    BACKGROUND-COLOR: #BDE4FF;		/*  BACKGROUND-COLOR: white;  */
}

SELECT {
    FONT-SIZE: 8pt
}

TABLE.front {
    COLOR: #000000;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 880px;
    height: auto;
    padding: 40px;
    border: 1px solid #909090;		/*    border: 1px solid #E8E8E8;  */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

h1.front {
    font: inherit;
    color: #686868;
    font-size: 19px;
    margin-bottom: 30px;
}

TABLE {
    COLOR: #000000
}

/* BEGIN: Content and Banner Definitions */

TD.content {
    background-color: white;
    vertical-align: top;
    height: 100%;
}

TR.contentBlue {
    background-color: #BDE4FF;
}

TD.contentGrey {
    background-color: #B3D8F2;
}

TD.contentWhite {
    background-color: white;
    vertical-align: top;
    padding-right: 20px;
    height: 100%;
}

TD.contentCopyright {
    background-color: white;
    vertical-align: bottom;
    text-align: center;
    height: 100%;
}

TD.contentSpacer {
    background-color: white;
    vertical-align: top;
    height: 20px;
}

TD.headerLogoCell {
    vertical-align: top;
    height: 60px;
    background-color: #BDE4FF;
}

TD.headerFormCell {
    vertical-align: top;
    text-align: left;
}

TD.headerLinkBarCell {
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
}

TD.contentLeftNav {
    background-color: white;
    vertical-align: top;
    padding-right: 20px;
    height: 100%;
}

TD.fixedContentHeaderNavbar {
    background-color: white;
    vertical-align: top;
    height: 34px;
}

TD.dynamicContentSpacer {
    background-color: white;
    vertical-align: top;
    height: 100%;
    width: 100%;
}

TD.bannerright {
    background-color: #B3D8F2;
    padding: 5px;
    vertical-align: top;
    text-align: center;
}

TD.bannerleft {
    background-color: #B3D8F2;
    padding: 5px;
    /*padding-top: 80px;*/
    vertical-align: top;
    text-align: center;
}

ads_title {
    margin-top: 5px;
}

TD.bannerbottom {
    background-color: #B3D8F2;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 60px;
}

TD.bannerbottom TABLE {
    margin-left: auto;
    margin-right: auto;
}

/* END: Cootent and Banner Definitions */

TABLE.Navigation {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #cccccf;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

TH {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    MARGIN: 0in
}

P {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

TR {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

TR.dark {
    BACKGROUND-COLOR: #f0f0f0;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

TR.light {
    BACKGROUND-COLOR: #f8f8f8;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

/* not sure if still used*/
TD.Indent1 {
    BACKGROUND-COLOR: #d0d0d0;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top
}

TD.Indent1Selected {
    BACKGROUND-COLOR: #f0f0f0;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 2px
}

td.Indent2 {
    background-color: #F0F0F0;
    height: 35px;
    min-width: 70px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

span.moreDictBottom {
    margin-left: 17px;
}

span.moreDictArrowBottom {
    margin-left: 10px;
    *margin-left: 12px;
}

td.Indent2first {
    text-align: left !important;
}

div.internalServiceLink {
    background-color: #BDE4FF;
}

TR.SpacerRow {
    height: 25px;
}

TD.Indent3 {
    BACKGROUND-COLOR: #f0f0f0;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 2px
}

TD.Indent2Selected {
    background-color: #F0F0F0;
    height: 35px;
    min-width: 70px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

TD.Indent3Selected {
    BACKGROUND-COLOR: #f0f0f0;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 2px
}

TD.Indent2Disabled {
    background-color: #F0F0F0;
    height: 35px;
    min-width: 70px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

TD.Indent3Disabled {
    BACKGROUND-COLOR: #d0d0d0;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 2px
}

/*end of not sure if still used*/
TD {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN: 0in
}

TD.TermDBDot {
    BACKGROUND-COLOR: #e1e1e1;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 2px
}

/* not sure if still used*/
TD.red {
    BACKGROUND-COLOR: #df103f
}

/*end not sure if still used*/

.Headline {
    font: inherit;
    FONT-SIZE: 18pt;
}

TD.globalLinkBar {
    COLOR: #004D80;
    FONT-SIZE: 9pt;
    vertical-align: bottom;
    text-align: left;
    width: 100px;
}

TD.notes {
    FONT-SIZE: 9pt
}

TD.Toggle {
    COLOR: #0073BF;
    FONT-SIZE: 9pt
}

TD.tiny {
    COLOR: #0073BF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    text-align: center;
}

TD.ToggleSelected {
    COLOR: #000000;
    FONT-SIZE: 9pt
}

TD.ToggleStartPage {
    BACKGROUND-COLOR: #ffffff;
    COLOR: #0099ff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 4px;
    VERTICAL-ALIGN: top
}

TD.Topmenu1Space {
    COLOR: #000000
}

TD.Topmenu1 {
    BACKGROUND-COLOR: #666666;
    COLOR: #808040;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu1Container {
    BACKGROUND-COLOR: #666666;
    COLOR: #808040;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 1px
}

TD.Topmenu2 {
    color: #808040;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 1px 2px 0px
}

TD.Topmenu2Container {
    BACKGROUND-COLOR: #f0f0f0;
    COLOR: #808040;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu3 {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu1Disabled {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #808040;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu1Expanded {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #0073BF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu2Selected {
    BACKGROUND-COLOR: #f0f0f0;
    COLOR: #0073BF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu2Disabled {
    BACKGROUND-COLOR: #f0f0f0;
    COLOR: #808040;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu1Seperator {
    BACKGROUND-COLOR: #666666;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu2Seperator {
    BACKGROUND-COLOR: #f0f0f0;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px
}

TD.Topmenu1Selected {
    BACKGROUND-COLOR: #cccccc;
    color: #0073BF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 0px
}

TD.Navbar0 {
    BACKGROUND-COLOR: #dddddd;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 4px
}

TD.Navbar0Selected {
    BACKGROUND-COLOR: #dddddd;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 4px
}

TD.Navbar0Disabled {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 4px
}

TD.Navbar1 {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 4px;
    VERTICAL-ALIGN: top
}

TD.Navbar1Selected {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #0073BF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 4px;
    VERTICAL-ALIGN: top
}

TD.Navbar1Disabled {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 4px;
    VERTICAL-ALIGN: top
}

TD.Navbar2 {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    VERTICAL-ALIGN: top
}

TD.Navbar2Disabled {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    VERTICAL-ALIGN: top
}

TD.Navbar2Selected {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #0073BF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    VERTICAL-ALIGN: top
}

TD.Navbar3 {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    VERTICAL-ALIGN: top
}

TD.Navbar3Selected {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #0082D9;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    VERTICAL-ALIGN: top
}

TD.Navbar3Disabled {
    BACKGROUND-COLOR: #e1e1e1;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    VERTICAL-ALIGN: top
}

TD.small {
    BACKGROUND-COLOR: #cccccc;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    VERTICAL-ALIGN: top
}

TD.Navbar1Seperator {
    BACKGROUND-COLOR: #000000;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

TD.tableNavTitle {
    COLOR: #000000
}

TD.search {
    COLOR: #ffffff;
    BACKGROUND-COLOR: #BDE4FF;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

TD.searchSmall {
    COLOR: #004D80;
    BACKGROUND-COLOR: #BDE4FF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    VERTICAL-ALIGN: middle;
    font-size: 11px;
}

TD.helpTitle {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

TD.formFieldCell {
    margin: 1px 1px 1px 1px;
    padding: 10px;
    border: 1px solid white;
    VERTICAL-ALIGN: top;
}

TD.logo {
    FONT-FAMILY: Arial, Helvetica, sans-serif; /**  COLOR: #004D80;**/
    COLOR: #004D80;
    VERTICAL-ALIGN: bottom;
    font-size: 11px;
    height: 20px;
}

DIV {
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

DIV.errormsg {
    COLOR: #ff0000
}

DIV.warning {
    COLOR: #000000
}

DIV.separator {
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    border-bottom: 1px dashed #cccccc;
    margin: 1px 0 1px 0;
    padding: 0;
}

SPAN {
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

SPAN.ToggleSelected {
    COLOR: #000000;
    FONT-SIZE: 8pt
}

SPAN.errormsg {

    COLOR: #ff0000
}

SPAN.tableNavSelectedPageNo {
    COLOR: #000000
}

SPAN.list {
    color: red;
    font: bold;
}

SPAN.listText {
    color: #000000;
    font: normal;
}

/* not sure if used */
SPAN.red {
    COLOR: #ff8000
}

/* end: not sure if used */

PRE.text {
    FONT-FAMILY: "Courier New", Courier, mono;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    WHITE-SPACE: pre
}

H2 {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold
}

H3 {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold
}

/* START Script.aculo.us definitions for autocompletion */
div.auto_complete {
    width: 350px;
    background: #fff;
    text-align: left;
}

div.auto_complete ul {
    border: 1px solid #888;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

div.auto_complete ul li {
    margin: 0;
    padding: 3px;
}

div.auto_complete ul li.selected {
    background-color: #cfe2f6;
}

div.auto_complete ul strong.highlight {
    color: #800;
    margin: 0;
    padding: 0;
}

div.info {
    background-color: #f0f0f0;
    float: none;
    clear: both;
    margin: 5px 0 0 65px;
    *margin: 13px 0 0 0;
    padding: 5px;
    border: solid 1px black;
    position: absolute;
    text-align: left;
    z-index: 1;
}

div.dictionaryDropdown1 {
    background-color: #f0f0f0;
    clear: both;
    float: none;
    margin: -3px 0 0 65px;
    *margin: 20px 0 0 0;
    padding: 5px;
    border: solid 1px black;
    position: absolute;
    text-align: left;
    z-index: 1;
}

.banner_container {
    position: fixed;
    top: 200px;
    left: 20px;
    margin-top: -100px;
}

#mainpage_banner1 {
    height: 120px;
    width: 120px;
    position: relative;
    vertical-align: top;
    margin-bottom: 20px;
}

#mainpage_banner2 {
    height: 120px;
    width: 120px;
    position: relative;
    vertical-align: top;
}

.wordnetForm {
    font-weight: bold;
    padding-top: 10px;
}

.wordnetMeaning {
    font-style: italic;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
}

.wordnetSynonym {
    font-weight: bold;
}

.wordnetSense {
    font-weight: bold;
}

.wordnetExample {
    font-weight: bold;
}

.wordnetHypernym {
    font-weight: bold;
}

.wordnetHyponym {
    font-weight: bold;
}

.wordnetOpposite {
    font-weight: bold;
}

/* END Script.aculo.us definitions for autocompletion */

/*
     FILE ARCHIVED ON 21:49:12 Sep 19, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:51:46 Nov 10, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.927
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.022
  esindex: 0.015
  cdx.remote: 7.295
  LoadShardBlock: 65.635 (3)
  PetaboxLoader3.datanode: 112.576 (5)
  PetaboxLoader3.resolve: 911.121 (3)
  load_resource: 1026.773 (2)
*/